@import 'reset.css';
@import 'colors.css';

/*~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~> [Geral] <~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~*/

input[type='button'] {
    padding: .9rem 3.5rem;
    font-size: 1.2rem;
}

img {
    width: 365px;
}

textarea {
    resize: none;
    height: 150px;
}

/*~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~> [Header] <~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~*/
header {
    height: max-content;
    display: flex;
    justify-content: center;
}

.banner {
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 10rem;
}

h1 {
    font-size: 2.1rem;
    line-height: 3rem;
}

.info {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.subtitle {
    font-size: 1.1rem;
    line-height: 2rem;
}

header input {
    width: max-content;
}

/*~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~> [Main, Cards] <~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~*/

main {
    margin: 4rem auto;
    display: grid;
    justify-content: center;
    gap: 2rem;
}

.card {
    height: 420px;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    row-gap: 1.8rem;
    padding-bottom: 2rem;
}

.card h3 {
    font-size: 1.5rem;
}

.card :is(h3, p) {
    padding: 0 2.5rem;
}

.color {
    height: 300px;
}

/*~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~> [Form] <~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~*/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    row-gap: 1rem;
}

form h2 {
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

form [type='button'] {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

form [type='text'], textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
}

form :is([type='text'], [type='button'], textarea) {
    max-width: 470px;
}

/*~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~> [Responsivo] <~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~-=-~*/

@media (min-width: 700px) {

    .banner, main {
        width: 90vw;
    }

    .banner {
        flex-direction: row;
        align-items: flex-end;
    }
    main {
        justify-content: space-between;
        grid-template-columns: repeat(2, auto);
    }
}

@media (min-width: 900px) {
    main {
        margin: 6rem auto;
        gap: 4rem;
    }

    header {
        height: 550px;
        padding: 0 4rem;
    }

    .banner {
        margin: auto;
    }
}

@media (min-width: 1200px) {
    img {
        width: 500px;
    }

    main {
        grid-template-columns: repeat(3, auto);
    }
}